<% provide(:title, 'Hotels') %>

<h1>Hotels</h1>

<div class="hotel-filter">
  <%= form_with url: hotels_path, method: :get, data: { turbo_frame: "hotels_list" } do |form|
    %>
    <%= form.label :destination_name, "Filter by Destination:" %>
    <%= form.select :destination_name, options_for_select(@destinations.pluck(:name), params[:destination_name]), { include_blank: 'All Destinations' }, onchange: 'this.form.requestSubmit()' %>
  <% end %>
</div>

<%= turbo_frame_tag "hotels_list" do %>
  <div class="hotel-list">
    <% if @hotels.any? %>
      <ul>
        <% @hotels.each do |hotel| %>
          <li>
            <%= link_to hotel.name, hotel_path(hotel) %>
            <% if hotel.location.present? %>
              (<%= hotel.location.city %>, <%= hotel.location.country %>)
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No hotels found.</p>
    <% end %>
  </div>
<% end %>
